*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #db07ff;
}

.container{
  width: 800px;
  background-color: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 10px 15px rgba(0,0,0,0.2);
}

.wrapper{
  border-radius: 5px;
  border: 1px solid #ccc;
}

.wrapper .text-input{
  display: flex;
  border-bottom: 1px solid #ccc;
}

.text-input .to-text{
  border-radius: 0px;
  border-left: 1px solid #ccc;
}

.text-input textarea{
  height: 270px;
  width: 100%;
  outline: none;
  border: none;
  resize: none;
  background: none;
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 5px;
}

.text-input textarea::placeholder{
  color: #b7b6b6;
}

.controls, li, .icons, .icons i{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controls {
  list-style: none;
  padding: 12px 15px;
}

.controls .row{
  width: 38%;
}

.controls .row .icons i{
  width: 30px;
  color: #adadad;
  font-size: 15px;
  cursor: pointer;
  justify-content: center;
  transition: 0.2s ease;
}

.controls .row.from .icons {
  padding-right: 15px;
  border-right: 1px solid #ccc;
}

.controls .row.to .icons{
  padding-left: 15px;
  border-left: 1px solid #ccc;
}

.controls .row select{
  color: #333;
  border: none;
  outline: none;
  font-size: 18px;
  background: none;
  padding-left: 5px;
}

.text-input textarea::-webkit-scrollbar{
  width: 4px;
}

.controls .row select::-webkit-scrollbar {
  width: 8px;
}

.text-input textarea::-webkit-scrollbar-track,
.controls .row select::-webkit-scrollbar-track{
  background: #fff;
}

.text-input textarea::-webkit-scrollbar-thumb{
  background: #ddd;
  border-radius: 5px;
}

.controls .row select::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 5px;
  border-right: 2px solid #fff;
}

.controls .exchange{
  color: #adadad;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s ease;
}

.controls i:active{
  transform: scale(0.9);
}

.container button{
  width: 100%;
  padding: 14px;
  outline: none;
  border: none;
  color: #fff;
  margin-top: 20px;
  font-size: 17px;
  font-weight: 700;
  background: #db07ff;
  border-radius: 5px;
  cursor: pointer;
}